#page svg {
	background-color: #eee
}
#page svg g#nodes circle {
	opacity: 0.5;
	stroke: #222;
	stroke-width: 2px;
}
#page svg g#lines path {
	stroke-width:3px;
	stroke-linecap: round;
}
span.symbol {
	display: inline-block;
	height: 1em;
	width: 1em;
	margin-right: 1em;
	margin-left: 1em;
}
