#page svg {
	background-color: #eee
}
#page svg g#nodes circle {
	opacity: 0.5;
	stroke: #222;
	stroke-width: 2px;
}
#page svg g#links line {
	opacity: 1;
	stroke-width: 5px;
	stroke-linecap: round;
}

#page svg g#links line.geminus {
	stroke-width: 2px;
}
