/*
Basic SVG elements
*/

#charta-vitae svg {
	background-color: #eee
}

#charta-vitae svg path {
	fill: none;
	stroke: gray;
	stroke-linecap: round;
	stroke-width: 1.5px;
	stroke-opacity: 0.5; }

#charta-vitae svg circle {
	opacity: 0.75;
	stroke: #222;
	stroke-width: 1.5px; }

#charta-vitae svg text {
	font: 15px charter ; }

/*
Specific SVG element types
*/

#charta-vitae svg g#links polyline.link {
	stroke-width: 0.5px;
	stroke: gray; }
#charta-vitae svg g#links polyline.link.causal {
	stroke-width: 1.6px;
	stroke: tomato;
	marker-mid: url(#markerArrow); }
#charta-vitae svg g#lines path.line {
	stroke-width: 4px; }
#charta-vitae svg g#lines path.line:hover {
	stroke-width: 8px;}

/*
Meta elements outside the charta
*/

#charta-vitae #metabox .container {
	display: flex;
	flex-wrap: wrap; }
#charta-vitae #metabox .tag {
	background: #eee;
	margin: 5px;
	padding: 5px; }
#charta-vitae #metabox .tag .name {
	color: white;
	mix-blend-mode: difference; }
#charta-vitae #metabox .tag:hover {
	background: #6f6; }

/*
Template pages
*/

